{% if pagerfanta.haveToPaginate() %}
    {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
        'prev_message' : 'hg_media.pagerfanta.prev_message' | trans,
        'next_message' : 'hg_media.pagerfanta.next_message' | trans
    })
    }}
{% endif %}

<div class="table-responsive">
    <table class="table table-striped table-bordered table--sortable">
        <thead>
        <tr>

            <!-- Columns -->
            {% for field in orderByFields %}
                {% set columnName = field %}
                {% set columnkey = 'hg_media.field.'~field %}
                {% set orderDirection = "DESC" %}
                {% set extraHeaderClass = "" %}
                {% if ( columnName == orderBy )%}

                    {% if orderDirection == "DESC" %}
                        {% set orderDirection = "ASC" %}
                        {% set extraHeaderClass = "table--sortable__th--down" %}
                    {% else %}
                        {% set extraHeaderClass = "table--sortable__th--up" %}
                    {% endif %}
                {% endif %}
                <th class="js-sortable-link table--sortable__th {{extraHeaderClass}}" data-order-url="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({ 'folderId': folder.id, 'orderBy': field, "orderDirection": orderDirection }))}}">
                    {{ columnkey | trans }}
                </th>
            {% endfor %}

            <!-- Actions -->
            <th class="table__actions">
                {{ 'hg_media.form.actions'|trans }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in pagerfanta.currentPageResults %}
            <tr>

                <!-- Columns -->
                {% for field in orderByFields %}
                    {% set columnName = field %}
                    {% set columnkey = 'hg_media.field.'~field %}
                    {% set itemHelper = item %}
                    {% set value = attribute(item, field) %}
                    <td>
                        {% include '@HgabkaMedia/AdminList/Field/'~field~'.html.twig' %}
                    </td>
                {% endfor %}

                <!-- Actions -->
                <td class="table__actions">
                    {% if modal is defined and modal %}
                    {% set mediaHandler = mediamanager.getHandler(item) %}
                    {% set imageurl =  mediaHandler.getImageUrl(item, app.request.basePath) %}
                        {% if imageurl is not empty and item.location == 'local' %}
                            {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in item.contentType %}
                                {% set imageurlretina = imageurl %}
                            {% else %}
                                {% set imageurlretina = asset(imageurl | imagine_filter('media_list_thumbnail_retina')) %}
                                {% set imageurl = asset(imageurl | imagine_filter('media_list_thumbnail')) %}
                            {% endif %}
                        {% endif %}

                    {% set cke = (app.request and app.request.get('CKEditorFuncNum')) %}
                    <a data-thumb-path="{{ imageurl }}" data-path="{{ item.url }}" data-title="{{ item.name }}" data-id="{{ item.id }}" href="javascript:void(0)" class="js-url-chooser-media-select" data-cke="{% if cke %}true{% else %}false{% endif %}">
                        Kiválaszt
                    </a>
                    {% else %}
                    <a href="{{ path('HgabkaMediaBundle_media_show', { mediaId: item.id}) }}" class="link--text table__actions__item" title="{{ 'kuma_admin_list.list.edit' | trans }}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a href="{{ path('HgabkaMediaBundle_media_delete', { mediaId: item.id}) }}" class="link--text link--danger table__actions__item" title="{{ 'kuma_admin_list.list.delete' | trans }}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="pager-count">
    <div class="counter">
        {% if pagerfanta.count > 0 %}
            {{ 'hg_media.list.pager' | trans({'%from%': pagerfanta.currentPageOffsetStart, '%to%' : pagerfanta.currentPageOffsetEnd, '%count%' : pagerfanta.count}) }}
        {% else %}
            {{ 'hg_media.list.no_item' | trans }}
        {% endif %}
    </div>
</div>
{% if pagerfanta.haveToPaginate() %}
    {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
        'prev_message' : 'kuma_admin_list.pagerfanta.prev_message' | trans,
        'next_message' : 'kuma_admin_list.pagerfanta.next_message' | trans
    })
    }}
{% endif %}
