{% extends '@HgabkaMedia/Default/layout.html.twig' %}


{% block content_title %}{{ media.name }}{% endblock %}

{% block title %}
    {{ 'hg_media.admin.label'|trans }} - {{ media.name }}
{% endblock %}

{% block header %}
    <h1 class="app__content__header__title">
        {{ 'hg_media.media.title'|trans }}
        <small class="app__content__header__title__small">
            {{ media.name }}
        </small>
    </h1>
{% endblock %}



{% block admin_content %}
    <!-- Main-actions -->
    <div class="page-main-actions js-auto-collapse-buttons">
        <div class="btn-group" role="group">
            {% block extraactions %}{% endblock %}
            {% block actions %}
                {% if admin.hasAccess('delete') %}
                <button data-target="#sure-modal-{{ media.id }}" data-toggle="modal" class="btn btn-default btn--raise-on-hover">
                    {{ 'hg_media.form.delete'|trans }}
                </button>
                {% endif %}
            {% endblock %}
        </div>
    </div>


    <!-- Scroll-actions -->
    <div class="page-main-actions page-main-actions--top" id="page-main-actions-top">
        <div class="btn-group">
            {{ block('extraactions') }}
            {{ block('actions') }}
            <a href="#" class="btn btn-default">
                <i class="fa fa-caret-up"></i>
            </a>
        </div>
    </div>


    <!-- Main Tabs -->
    <ul class="nav nav-tabs page-main-tabs js-auto-collapse-tabs">
        {% if admin.hasAccess('list') %}
        <li class="active">
            <a href="#imagegallery" data-toggle="tab">
                {{ 'hg_media.media.contenttab.title'|trans|capitalize }}
            </a>
        </li>
        {% endif %}
        {% if admin.hasAccess('edit') %}
        <li>
            <a href="#properties" data-toggle="tab">
                {{ 'hg_media.media.propertiestab.title' | trans }}
            </a>
        </li>
        {% endif %}
        <li class="tab__more dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'hg_media.form.button.dropdown.more' | trans }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" id="collapsed"></ul>
        </li>
    </ul>

    <div class="tab-content">
        {% if admin.hasAccess('list') %}

        <!-- TAB - Imagegallery -->
        <div class="tab-pane active" id="imagegallery">

            <div class="row row--padded">
                <div class="col-md-6 col-lg-5">
                    <dl>
                        {% block mediainfo %}
                            <dt>{{ 'hg_media.media.mediainfo.name'|trans }}:</dt>
                            <dd>{{ media.name }}</dd>
                            <dt>{{ 'hg_media.media.mediainfo.contenttype'|trans }}:</dt>
                            <dd>{{ media.contentType }}</dd>
                            <dt>{{ 'hg_media.media.mediainfo.createdat'|trans }}:</dt>
                            <dd>{{ media.createdat|date|escape }}</dd>
                            <dt>{{ 'hg_media.media.mediainfo.updatedat'|trans }}:</dt>
                            <dd>{{ media.updatedat|date|escape }}</dd>
                        {% endblock %}
                    </dl>
                </div>

                <div class="col-md-6 col-lg-7">
                    {% block preview %}{% endblock %}
                </div>
            </div>
        </div>

        {% endif %}
        {% if admin.hasAccess('edit') %}
        <!-- TAB - Properties -->
        <div class="tab-pane" id="properties">

            {% form_theme editform '@HgabkaMedia/Form/fields.html.twig' %}
            {{ form_start(editform, {'method': 'POST', 'action': path('HgabkaMediaBundle_media_show', { 'mediaId' : media.id }) }) }}
                <fieldset class="panel panel-default form-properties">
                    <div class="panel-body">

                        {{ form_widget(editform) }}

                        <div class="form-actions form-actions--padded">
                            <button type="submit" class="btn btn-primary btn--raise-on-hover">
                                {{ 'hg_media.form.save' |trans }}
                            </button>
                            <button type="reset" class="btn btn-default btn--raise-on-hover">
                                {{ 'hg_media.form.cancel' |trans }}
                            </button>
                        </div>
                    </div>
                </fieldset>
            {{ form_end(editform) }}
        </div>
        {% endif %}
    </div>


    <!-- Modals -->
    {% include 'HgabkaMediaBundle:Media:delete-modal.html.twig' %}

{% endblock %}
