{% extends '@HgabkaMedia/Media/show.html.twig' %}

{% block extraactions %}
    <a href="{{ asset(media.url) }}" class="btn btn-primary btn--raise-on-hover">
        {{ 'hg_media.media.download.action'|trans }}
    </a>
{% endblock %}

{% block preview %}{% endblock %}

{% block mediainfo %}
    {{ parent() }}
    <dt>
        {{ 'hg_media.media.mediainfo.downloadlink'|trans }}:
    </dt>
    <dd>
        {% if media.protected %}
            <a href="{{ path('HgabkaMediaBundle_admin_download_inline', { media: media.id}) }}" target="_blank">
                {{ url('HgabkaMediaBundle_admin_download_inline', { media: media.id}) }}
            </a>
        {% else %}
            {% if 'local' == media.location %}
                <a href="{{ app.request.getScheme()~'://'~app.request.getHttpHost()~asset(media.url) }}" target="_blank">
                    {{ app.request.getScheme()~'://'~app.request.getHttpHost()~asset(media.url) }}
                </a>
            {% else %}
                <a href="{{ asset(media.url) }}" target="_blank">
                    {{ asset(media.url) }}
                </a>
            {% endif %}
        {% endif %}
    </dd>
{% endblock %}
