{% extends '@HgabkaUtils/Default/layout.html.twig' %}

{% block breadcrumb %}
            <li>
                <a href="{{ path('sonata_admin_dashboard') }}">{{ 'link_breadcrumb_dashboard' | trans({}, 'SonataAdminBundle') | raw }}</a>
            </li>
            {% for parent in foldermanager.parents(folder) %}
                {% if block('breadcrumb_between') is defined %}
                    {{ block('breadcrumb_between') }}
                {% endif %}
                <li>
                    {% if loop.last %}
                        <span>{{ parent.name|default('hg_media.label.no_translation'|trans) }}</span>
                    {% else %}
                        <a href="{{ path('admin_hgabka_media_media_list', { folderId: parent.id }) }}">{{ parent.name|default('hg_media.label.no_translation'|trans) }}</a>
                    {% endif %}
                </li>
            {% endfor %}
{% endblock %}

{% block admin_sidebar %}
    <!-- Search -->
    <button type="button" class="js-toggle-btn toggle-button btn app__sidebar__search-toggle-btn" data-target="#sidebar-search-toggle">
        <i class="fa fa-search"></i>
    </button>

    <div id="sidebar-search-toggle" class="toggle-item">
        <div class="toggle-item__content">
            <div class="app__sidebar__search-toggle-item">
                <input type="text" placeholder="{{ 'hg_media.label.search' | trans }}" id="app__sidebar__search" class="form-control">
                <hr>
            </div>
        </div>
    </div>

    <!-- Tree -->
    <nav role="navigation" id="app__sidebar__navigation" class="app__sidebar__module app__sidebar__navigation" data-reorder-url="{{ path('HgabkaMediaBundle_folder_reorder') }}">
        <ul>
            {% set parentIds = foldermanager.getParentIds(folder) %}
            {% set rootFolder = foldermanager.getRootFolderFor(folder) %}
            {% set folders = foldermanager.getFolderHierarchy(rootFolder) %}
            {% for mediaFolder in folders %}
                {% include '@HgabkaMedia/Folder/foldertreeview.html.twig' %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}



