{% set mediaHandler = mediamanager.getHandler(item) %}
{% set thumbnailurl =  mediaHandler.getImageUrl(item, app.request.basePath, 210, 150) %}

{% set cke = (app.request and app.request.get('CKEditorFuncNum') is not null) %}
<a data-svg="{{ ('<div class="text-center media-thumbnail-svg-holder">' ~ render_svg_media(item) ~ '</div>')|e('html_attr') }}" data-thumb-path="{{ thumbnailurl }}" data-path="{{ item.url }}" data-title="{{ item.name }}" data-id="{{ item.id }}" href="javascript:void(0)" class="js-url-chooser-media-select" data-cke="{% if cke %}true{% else %}false{% endif %}">
    {{ 'hg_media.label.select' | trans }}
</a>
